.bg-beige
{
    background-color: #D0C6BA !important;
}
.bg-cream{
    background-color: #E2B45F;
}
.bg-light-cream{
    background-color: #FBE7B7;
}
.main-bg
{
    height: 100vh;
    width: 100%;
    background: url("/client/assets/main_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.position{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin:-300px 0 0 -300px;
}


.accordion-button::after{
    display: none !important;
}

@media only screen and (max-width:600px) {
    .position{
        width: 200px;
        height: 200px;
        margin:-100px 0 0 -100px;
    }
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
  }

  .courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
  }

  .courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
  }
  .modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

.modal-content {
    height: 95vh;
    border-radius: 0px;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #ffffff;
    background: black url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}
.owl-nav{
    display: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000000 !important;
}
.owl-theme .owl-dots .owl-dot span {
    background: #ffffff !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0) contrast(100%);
}
.animation{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 20s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
